In [1]:
import pandas as pd

### 读取excel原始资料。

In [3]:
import write_mysql

In [5]:
sql_query= "select * from production_schedule"

In [7]:
df= pd.read_sql(sql_query,write_mysql.engine())

Empty DataFrame
Columns: [id, 生产日期, 班次, 重点关注, 任务单号, 客户, 型号, 产品名称, 宽度, 长度, 涂布辊, 产能, 计划时间, 卷数, 计划米数, 订单交期, 订单数, 物料信息, 实际米数, 报废米数, 异常报废, 报废率, 实际生产时间, 平方数, 实际平方, 原膜批号, 生产批号, 机速, 剥离剂, F02, 7475胶带粘性, 涂布量1, 涂布量2, 涂布量3, 急测, 首件离型力1, 首件离型力2, 首件离型力3, 尾件离型力1, 尾件离型力2, 尾件离型力3, 熟化12H离型力1, 熟化13H离型力2, 熟化14H离型力3, 防静电值1, 防静电值2, 防静电值3, 常温24H离型力1, 常温24H离型力2, 常温24H离型力3, 烘烤70℃离型力1, 烘烤70℃离型力2, 烘烤70℃离型力3, 残率1, 残率2, 残率3, 原膜检查, 电晕值52达因, 电晕处理, 烘箱温度1, 烘箱温度2, 烘箱温度3, 烘箱温度4, 烘箱温度5, 烘箱温度6, 是否掉硅, 涂布问题描述, 正/反放卷, 涂头温度, 涂头湿度%, QC签名, 装刀距离, 速比, 气压, 一放张力, 放牵张力, 出牵张力, 收卷张力, 收卷锥度, 烘道张力, 生产领班, 备注]
Index: []

[0 rows x 82 columns]

把生产日期设置为index

In [15]:
customer=df.loc[~df['客户'].isna()]

In [17]:
customer.columns

Index(['id', '生产日期', '班次', '重点关注', '任务单号', '客户', '型号', '产品名称', '宽度', '长度',
       '涂布辊', '产能', '计划时间', '卷数', '计划米数', '订单交期', '订单数', '物料信息', '实际米数',
       '报废米数', '异常报废', '报废率', '实际生产时间', '平方数', '实际平方', '原膜批号', '生产批号', '机速',
       '剥离剂', 'F02', '7475胶带粘性', '涂布量1', '涂布量2', '涂布量3', '急测', '首件离型力1',
       '首件离型力2', '首件离型力3', '尾件离型力1', '尾件离型力2', '尾件离型力3', '熟化12H离型力1',
       '熟化13H离型力2', '熟化14H离型力3', '防静电值1', '防静电值2', '防静电值3', '常温24H离型力1',
       '常温24H离型力2', '常温24H离型力3', '烘烤70℃离型力1', '烘烤70℃离型力2', '烘烤70℃离型力3', '残率1',
       '残率2', '残率3', '原膜检查', '电晕值52达因', '电晕处理', '烘箱温度1', '烘箱温度2', '烘箱温度3',
       '烘箱温度4', '烘箱温度5', '烘箱温度6', '是否掉硅', '涂布问题描述', '正/反放卷', '涂头温度', '涂头湿度%',
       'QC签名', '装刀距离', '速比', '气压', '一放张力', '放牵张力', '出牵张力', '收卷张力', '收卷锥度',
       '烘道张力', '生产领班', '备注'],
      dtype='object')

把columns name 进行更名，因为列名中有一些'\n'下一行符号

In [22]:
customer.groupby('生产日期')[['实际米数','报废米数']].sum()

               实际米数   报废米数
生产日期
2023-12-01  50030.0  505.0
2023-12-02  33705.0  545.0
2023-12-03  20370.0  420.0
2023-12-04  41340.0  390.0
2023-12-05  58310.0   85.0
2023-12-06  45095.0  245.0
2023-12-07  59985.0   85.0
2023-12-08  45350.0  220.0
2023-12-09  29350.0  535.0
2023-12-10  55680.0  250.0
2023-12-11  32595.0  385.0
2023-12-12  32565.0  405.0
2023-12-13  40090.0  410.0
2023-12-14  42075.0  420.0
2023-12-15      0.0    0.0
2023-12-16      0.0    0.0
2023-12-18      0.0    0.0
2023-12-19      0.0    0.0
2023-12-20      0.0    0.0

In [24]:
from pyecharts.charts import Line,Bar

查看是否已经更改columns name

In [28]:
def jhsmap(*args):
    x_axis= customer.index.tolist()
    y_axis= customer.groupby('生产日期')['实际米数'].sum().tolist()
    y2_axis= customer.groupby('生产日期')['报废米数'].sum().tolist()
    line = (Line()
           .add_xaxis(x_axis)
           .add_yaxis('',y_axis)
           )
    line.render_notebook()

修改计划时间的小数位长度 为2

In [29]:
jhsmap()

TypeError: Line.add_yaxis() missing 1 required positional argument: 'y_axis'

设置查询日期为int

In [13]:
day = int(input('请输入要查询的日期'))
while not day <= 31 & day > 0:
    day = int(input('请输入要查询的日期'))

请输入要查询的日期12

In [14]:
def query_date(d):
    plant_date= df.loc[(df.index.day == day) & (df['产能']!= '合计')]['计划时间'].sum().round(2)
    result= df.loc[(df.index.day == day) & (df['产能']== '合计')].计划时间
    return plant_date

In [15]:
query_date(day)

20.49

In [16]:
model_lists= df.型号.unique()

In [18]:
model= input('请输入要查询的型号')

请输入要查询的型号3t

In [25]:
df.to_excel('clearData1.xlsx',index=False)

In [20]:
df.loc[df.型号 == model]

Empty DataFrame
Columns: [班次, 重点关注, 任务单号, 客户, 型号, 产品名称, 宽度, 长度, 涂布辊, 产能, 计划时间, 卷数, 计划米数, 订单交期, 订单数, 物料信息, 实际米数, 报废米数, 异常报废, 报废率, 实际生产时间, 平方数, 实际平方, 原膜批号, 生产批号, 机速, 剥离剂, F02, 7475胶带粘性, 涂布量1, 涂布量2, 涂布量3, 急测, 首件离型力1, 首件离型力2, 首件离型力3, 尾件离型力1, 尾件离型力2, 尾件离型力3, 熟化12H离型力1, 熟化13H离型力2, 熟化14H离型力3, 防静电值1, 防静电值2, 防静电值3, 常温24H离型力1, 常温24H离型力2, 常温24H离型力3, 烘烤70℃离型力1, 烘烤70℃离型力2, 烘烤70℃离型力3, 残率1, 残率2, 残率3, 原膜检查, 电晕值52达因, 电晕处理, 烘箱温度1, 烘箱温度2, 烘箱温度3, 烘箱温度4, 烘箱温度5, 烘箱温度6, 是否掉硅, 涂布问题描述, 正/反放卷, 涂头温度, 涂头湿度%, QC签名, 装刀距离, 速比, 气压, 一放张力, 放牵张力, 出牵张力, 收卷张力, 收卷锥度, 烘道张力, 生产领班, 备注]
Index: []

[0 rows x 80 columns]

In [ ]:
model_lists= df.型号.unique()

In [ ]:
model_list= df.型号.unique()[pd.notna(model_lists)].tolist()

In [ ]:
model_list

In [ ]:
model= input('输入型号：').upper()

In [ ]:
model.upper()

In [ ]:
query_list = [item for item in model_list if model.upper() in item]

In [ ]:
query_list

In [ ]:
array= [df.loc[df.型号== item] for item in query_list]

In [ ]:
df.columns

In [ ]:
df

In [ ]:
data['country']= data['color'].map({'Yellow':'china','Blue':'american','Red':'ruasia',})

In [ ]:
dicc= {'Green':'Treenia'}

In [ ]:
data= data.replace({'color':dicc})

In [ ]:
data

In [ ]:
data.to_html('new.html',encoding='utf-8')